# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency lock files (optional)
package-lock.json
yarn.lock